@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Nova+Round&family=Open+Sans:wght@300;400&family=Purple+Purse&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;

}
.section-title {
    font-size: 5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    padding: 20px;
    
}

.section-title span {
    color: rgb(248, 94, 77);
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
}

p {
    color: #0f0f0f;
    font-size: 1.8rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid rgb(248, 94, 77);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .4s ease-in-out;
    transition-property: background-color, color;
    box-shadow: 0px 20px 20px #3f4a57;
    border-radius: 1.3em;

}

.cta:hover {
    color: rgb(248, 94, 77);
    background-color: #404b58;
}

#about > div > div.col-right > a:hover{
    color:#404b58;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: whitesmoke;
}
.brand h1 span{
    color: rgb(248, 94, 77);
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }  

/* Header */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 2s;
}

#hero .cta {
	-webkit-animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 3.5s;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  
#header .header{
    min-height: 8vh;
    background-color: transparent;
    transition: .3s ease background-color;
    border-bottom-left-radius: 8em;  
    border-bottom-right-radius: 20em;
    

}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding:10px 10px;
    
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    width: 100vh;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;

    border-radius: 1.3em;
    margin-right: 1.3em;
    
}
#header .nav-list ul.active{
    left: 0%;
    max-width: 100vw;
    transition: .5s ease;
    border-radius: 1.3em;

}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration:none;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0);
    color: rgba(240,248,255, 0.21);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .5s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, 50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: rgb(248, 94, 77);
}
#header .hamburguer{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburguer::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    animation: hamburguer_pulse .8s ease infinite;
}
#header .hamburguer .bar{
     height: 2px;
     width: 30px;
     position: relative;
     background-color: whitesmoke;
     z-index: -1;
}
#header .hamburguer .bar::after,
#header .hamburguer .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburguer .bar::after{
    top: 8px;
}
#header .hamburguer .bar::before{
    bottom: 8px;
}
#header .hamburguer.active .bar::before{
    bottom: 0;
}
#header .hamburguer.active .bar::after{
    top: 0;
}
/* End Header */

/* Hero Section */
#hero {
    background-image: url(./images/image1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    opacity: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #3f4a57;
    opacity: .4;
    z-index: -1;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
}

#hero h1:nth-child(1) {
    animation-delay: 1.5s;
}

#hero h1:nth-child(2) {
    animation-delay: 2.5s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name 3s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(248, 94, 77);
    animation: text_reveal_box 1s ease;
    animation-delay: 36s;
}

#hero h1:nth-child(1) span {
    animation-delay: 1s;
}

#hero h1:nth-child(2) span {
    animation-delay: 2s;
}

#hero h1:nth-child(3) span {
    animation-name: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

/* End Hero Section */

/* Services Scetion */
#services {
background-color: white; }

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    
}

#services .service-top{
    max-width: 500px;
    margin: 0 auto;
}

#services .service-top p {
    font-size: 1.4rem;
    color: black;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;

}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/image2.svg);
    background-size: cover; /*  se estica para cobrir a caixa. contain reduz a imagem ao tamanho */
    margin: 10px 5%;
    color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 50px;
    margin-bottom: 20px;
}

#services .service-bottom .icon img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

#services .service-item h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
    
}

#services > div > div.service-top > p {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
    font-size: 2rem;
}

#services > div > div.service-top > p > span {
    color: rgb(248, 94, 77);
    font-weight: 500;
}


.inactive {
    display: none;
}

#footer > div > h2 > span {
    color: rgb(248, 94, 77);
    font-weight: 500;
}

/* End of  Services Scetion */


/* Projcets Section */
#projects {
    background-color: whitesmoke;
}

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: -10px -10px 100px rgb(248, 94, 77), 10px 10px 10px rgb(248, 94, 77);
    border-radius: 20px;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110%;
    height: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 3em;
}

#projects .project-info {
    color: whitesmoke;
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}


#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: whitesmoke;
}

#projects .project-img {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
    background-position: center;
    object-fit: fill;
    width: 100%;
    margin-bottom: 1em;

}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
}

#projects .project-img img {
    transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}


/* End of Projcets Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 500;
}

#about .col-right .cta {
    color: rgb(248, 94, 77);
    margin-bottom: 30px;
    padding: 20px 60px;
    font-size: 2.5rem;
}

#about .col-left .about-img {
    position: relative;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid whitesmoke;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid rgb(248, 94, 77);
    z-index: -1;
}

/* End of About Section */

/* Contact Section */

#contact .contact {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    object-fit: contain;
    
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    
    background: whitesmoke url('images/fundocontato.jpg') repeat-x;
	-webkit-animation: 60s linear 0s normal none infinite animate;
	-moz-animation: 60s linear 0s normal none infinite animate;
	-ms-animation: 60s linear 0s normal none infinite animate;
	-o-animation: 60s linear 0s normal none infinite animate;
	animation: 60s linear 0s normal none infinite animate;

 
    
}
 
@-webkit-keyframes animate {
	from {background-position:0 100%;}
	to {background-position: 500px 100%;}
    
}
 
@-moz-keyframes animate {
	from {background-position:0 100%;}
	to {background-position: 500px 100%;}
}
 
@-ms-keyframes animate {
	from {background-position:0 100%;}
	to {background-position: 500px 100%;}
}
 
@-o-keyframes animate {
	from {background-position:0 100%;}
	to {background-position: 500px 100%;}
}
 
@keyframes animate {
	from {background-position:0 100%;}
	to {background-position: 500px 100%;}
}


#contact .contact-items{
    width: 100%;
}
#contact .contact-item{
    width: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
    background-color: whitesmoke;
    text-align: center;
}
#contact .contact-item:hover{
    box-shadow: 5px 5px 5px 5px rgb(248, 94, 77);
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#contact .contact-item h1{
    color: black;
}
/* End of Contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin-bottom: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: whitesmoke;
    font-size: 1.3rem;
}


/* End of Footer */


/* KEyframes */
@keyframes hamburguer_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: whitesmoke;

    }
}

@keyframes text_reveal_name {
    100% {
        color: rgb(248, 94, 77);
        font-weight: 600;
    }
}

/* End of KEyframes */

/* Media Query for Tablet */
@media only screen and (min-width:760px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 7rem;
    }

    /* Hero */
    #hero h1{
        font-size: 7rem;
    }

    /* End of Hero */

    /* Service Section */
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End of Service Section */

    /* Project */

    /* End of Project */

    /* About */
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid rgb(248, 94, 77);
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }
    /* End About */

    /* Contact */
    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item{
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        
    }
    /* End Contact */

}   
/* End of Media Query for Tablet */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px){
    /* Header */
    #header .hamburguer{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    /* End Header */
    #service .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* End Media Query for Desktop */

@media screen and (max-width: 768px) {
    #footer > div > h2, #footer > div > div.brand > h1{
    padding-left: 1.3rem;
}

    #projects .project-img {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background-color: #121214;

}
    #projects > div > div.all-projects > div:nth-child(1) > a.project-img > div > img {
        object-fit: contain;
        width: 110%;
    }

    #projects > div > div.all-projects {
        padding: 25px 0;
    }
    #header > div > div > div.nav-list > nav > ul {
        overflow-x: hidden;
        background-color: #3f4a57;
        border-radius: 1.3em;
    }
}

#header > div > div > div.nav-list > nav {
    margin-left: .4em;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: -2px 15px 20px #3f4a57;
    line-height: 2em;
    transition: .4s ease-in-out;
    border-radius: 3em;
    margin-right: 2.2em;
}
#header > div > div > div.nav-list > nav:hover {
    background-color: #404b58;
    transition: .4s ease-in-out;
}

#header > div > div > div.brand > a > h1{
    margin-left: .4em;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1.3em;
    box-shadow: -2px 15px 20px #3f4a57;
    line-height: 2em;
    transition: .4s ease-in-out;
}

#header > div > div > div.brand > a > h1:hover {
    background-color: #404b58;
    transition: .4s ease-in-out;
}
